.GorgeousMarquee {
  display: flex;
  height: 200vh;
  width: 200vw;
  position: absolute;
  top: 0vh;
  left: 0;
  font-size: 100vh;
  font-style: normal;
  font-weight: 100;
  line-height: 100vh;
  white-space: nowrap;
  background: black;
  color: rgb(122, 255, 193);
  pointer-events: none;
  opacity: 1;
  mix-blend-mode: exclusion;
}

.GorgeousMarquee__Content {
  animation: spin 10s linear 2s infinite normal both;
  padding: 0 50vh;
  box-sizing: border-box;
}
